#form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 5px;
}

#inputField {
    width: 100%;
    border-radius: 15px;
    padding: 10px 7px 10px 35px;
    border: none;
    background-color: white;
    box-sizing: border-box;
}

#inputField:focus {
    outline: none;
    background-color: white;
    box-shadow: none;
}

#sendBtn {
    background: #1664C0;
    color: white;
    border-radius: 40px;
    position: relative;
    border-radius: 15px;
    margin-left: 5px;
}
